#awsomeTitle{
	color: blue;
}
.bodyTextA{
	font-size: 12px;
}
#frame1{
	width: 35%;
	height: 35%;
	padding: ;
}
#frame2{
	width: 25%;
	height: 25%;
	padding: ;
}
.fa {
  font-size: 50px;
  cursor: pointer;
  user-select: none;
}

.fa:hover {
  color: darkblue;
  }